<!DOCTYPE html>
<head>
  <title> Hello world </title>
</head>
<body>
  <% include ./top_bottom/navbar %>
  <h1> this is a boiler plate page common to all </h1>

  <%- body -%>
<% include ./top_bottom/footer %>
</body>


</html>
